# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
days/dataflow-framework/abstraction-level-6/.venv
days/dataflow-framework/file-processing-sys/dist
days/dataflow-framework/file-processing-sys/src/file_processing_sys.egg-info
days/dataflow-framework/file-processing-sys/images
days/dataflow-framework/file-processing-sys/test.txt
days/day5

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db


