# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db


